@if (annualData.length) {
    <table>
        <thead>
        <tr>
            <th>Year</th>
            <th>Investment value</th>
            <th>Interest (Year)</th>
            <th>Total Interest</th>
            <th>Invested Capital</th>
        </tr>
        </thead>
        <tbody>
            @for (annual of annualData; track annual.year) {
                <tr>
                    <td>{{annual.year}}</td>
                    <td>{{annual.valueEndOfYear | currency}}</td>
                    <td>{{annual.interest | currency}}</td>
                    <td>{{annual.totalInterest  | currency}}</td>
                    <td>{{annual.totalAmountInvested | currency}}</td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p class="center">Please enter some values and press "Calculate"</p>
}
